<div class="headline">
  <h1>
    Fast, Fearless, Friendly
  </h1>
  <h2>
    Rust code is nimble.
    Put it in your server, your web app, your microcontroller, your game.
    Anywhere you need speed and reliability.
  </h2>
  <button type="button">Why Rust?</button>
  <button type="button">Get Rust</button>
</div>
<div class="container">
  <div class="highlight-box">
    <h3>Fast</h3>
    <p>
      Rust strives to be welcoming, from its modern tooling, friendly error messages, and expressive language features to its inviting open source community.
    </p>
    <button type="button">Learn More</button>
  </div>
  <div class="highlight-box">
    <h3>Fearless</h3>
    <p>
      New to systems programming? Worried about concurrency? No problem!
      Rust’s compiler guarantees freedom from many kinds of bugs, including thread-safety bugs.
    </p>
    <button type="button">Learn More</button>
  </div>
  <div class="highlight-box">
    <h3>Friendly</h3>
    <p>
      Rust strives to be welcoming, from its modern tooling, friendly error messages, and expressive language features to its inviting open source community.
    </p>
    <button type="button">Learn More</button>
  </div>
</div>
<div class="container">
  <h2>What can you do with Rust?</h2>
  <a href=""><img src="" class="img-example"></a>
  <a href=""><img src="" class="img-example"></a>
  <a href=""><img src="" class="img-example"></a>
  <h3><a href="">See more Rust users</a></h3>
</div>
<div class="container">
  <h2>Announcements and upcoming events</h2>
  <div class="container">
    <h3>Meet Ups and Conferences</h3>
    <div class="">
      Meetup
    </div>
    <div class="">
      Conference
    </div>
  </div>
  <div class='container'>
    <h3>Blog</h3>
    <div class="blog-post">
      Blog Post Preview
    </div>
    <div class="blog-post">
      Blog Post Preview
    </div>
    <div class="blog-post">
      Blog Post Preview
    </div>
  </div>
</div>
<div class="container">
  <h2>Learn More</h2>
  <a href="">Why Rust?</a>
  <h3>Coming from</p>
  <ul>
    <li><a href="">C++</a></li>
    <li><a href="">Ruby/Python/JS</a></li>
    <li><a href="">Java/Scala</a></li>
    <li><a href="">Go/Swift</a></li>
  </ul>
  <h3>Video presentation(s)</h3>
  <h3>Documentation</h3>
</div>
<div class="container">
  <h2>Rust is an open source project with many sponsors</h2>
  <a href=""><img src="" class="img-example"></a>
  <a href=""><img src="" class="img-example"></a>
  <a href=""><img src="" class="img-example"></a>
</div>
