<div class="body-container">
  <div class="headline">
    <h1>Fast, Fearless, Friendly</h1>

    <p>
      Rust code is nimble. Put it in your server, your web app, your microcontroller, your game. Anywhere you need speed and reliability.
    </p>
  </div>
</div>
