<div class="header-space"></div>
<div class="container intro-container">
  <h1>
    Fast, Fearless, Friendly
  </h1>
  <h2>
    Rust code is nimble.
    Put it in your server, your web app, your microcontroller, your game.
    Anywhere you need speed and reliability.
  </h2>
  <button type="button" class="btn">Why Rust?</button>
  <button type="button" class="btn">Get Rust</button>
</div>
<div class="container highlight-box">
  <div class="row">
    <div class="col-xs-3 col-md-4">
      <img class="icon" src="/images/rust-logo.png">
      <h3>Fast</h3>
      <p>
        Rust strives to be welcoming, from its modern tooling, friendly error messages, and expressive language features to its inviting open source community.
      </p>
      <button type="button" class="btn">Learn More</button>
    </div>
    <div class="col-xs-3 col-md-4">
      <img class="icon" src="/images/rust-logo.png">
      <h3>Fearless</h3>
      <p>
        New to systems programming? Worried about concurrency? No problem!
        Rust’s compiler guarantees freedom from many kinds of bugs, including thread-safety bugs.
      </p>
      <button type="button" class="btn">Learn More</button>
    </div>
    <div class="col-xs-3 col-md-4">
      <img class="icon" src="/images/rust-logo.png">
      <h3>Friendly</h3>
      <p>
        Rust strives to be welcoming, from its modern tooling, friendly error messages, and expressive language features to its inviting open source community.
      </p>
      <button type="button" class="btn">Learn More</button>
    </div>
  </div>
</div>
<div class="container">
  <h2>What can you do with Rust?</h2>
  <div class="row img-container">
    <div class="col-xs-3 col-md-4">
      <a href=""><img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/logotype_2016-vfliXTM4h.svg" class="company-logo"></a>
    </div>
    <div class="col-xs-3 col-md-4">
      <a href=""><img src="https://res.cloudinary.com/crunchbase-production/image/upload/v1397181229/37450255c592dc4a20334d1e314c8260.png" class="company-logo"></a>
    </div>
    <div class="col-xs-3 col-md-4">
      <a href=""><img src="http://www.underconsideration.com/brandnew/archives/mozilla_2017_logo.png" class="company-logo"></a>
    </div>
  </div>
  <h3><button type="button" class="btn">See More Rust Users</button></h3>
</div>
<div class="container">
  <h2>Announcements and upcoming events</h2>
  <div class="container secondary-highlight-box">
    <h3>Meet Ups and Conferences</h3>
    <div class="row">
      <div class="col-xs-3 col-md-4">
        Meetup
      </div>
      <div class="col-xs-3 col-md-4">
        Conference
      </div>
    </div>
  </div>
  <div class="container">
    <h3>Blog</h3>
    <div class="row">
      <div class="col-xs-3 col-md-4 blog-post">
        Blog Post Preview
      </div>
      <div class="col-xs-3 col-md-4 blog-post">
        Blog Post Preview
      </div>
      <div class="col-xs-3 col-md-4 blog-post">
        Blog Post Preview
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2>Learn More</h2>
  <div class="highlight-box">
    <h3><a href="">Why Rust?</a></h3>
    <h3>Coming from</p>
    <ul>
      <li><a href="">C++</a></li>
      <li><a href="">Ruby/Python/JS</a></li>
      <li><a href="">Java/Scala</a></li>
      <li><a href="">Go/Swift</a></li>
    </ul>
  </div>
  <h3>Video presentation(s)</h3>
  <h3>Documentation</h3>
</div>
<div class="container">
  <h2>Rust is an open source project with many sponsors</h2>
  <div class="row img-container">
    <div class="col-xs-3 col-md-5">
      <a href=""><img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/logotype_2016-vfliXTM4h.svg" class="company-logo"></a>
    </div>
    <div class="col-xs-3 col-md-5">
      <a href=""><img src="https://res.cloudinary.com/crunchbase-production/image/upload/v1397181229/37450255c592dc4a20334d1e314c8260.png" class="company-logo"></a>
    </div>
    <div class="col-xs-3 col-md-5">
      <a href=""><img src="http://www.underconsideration.com/brandnew/archives/mozilla_2017_logo.png" class="company-logo"></a>
    </div>
    <div class="col-xs-3 col-md-5 blog-post">
      <a href=""><img src="https://buoyant.io/wp-content/uploads/2017/07/buoyant-social-share-banner.jpg" class="company-logo"></a>
    </div>
  </div>
</div>
