<link rel="stylesheet" href="styles/app.css">

<div class="layout-header">
  <span>learn</span>
  <span>develop</span>
  <span>discuss</span>
  <img class="header-logo" src="/images/rust-logo.png">
  <span>contribute</span>
  <span>why Rust?</span>
  <span>English</span>
</div>
<%= yield %>
