$layout-header-background-color: #CE5C13;
$layout-header-text-color: #FFFFFF;
$body-background-color: #F7F7F2;
$body-text-color: #5A6978;
$home-highlight-color: #4F000B;
$home-secondary-highlight: #3E000C;
$home-text-color: #F7F7F2;
$home-header-color: #F7934C;
