@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css');
@import 'variables/colors';
@import url('https://fonts.googleapis.com/css?family=Cabin');

$min-width: 681px;

body {
  background-color: $body-background-color;
  color: $body-text-color;
}

h1 {
  color: $home-highlight-color;
}

h2 {
  color: $home-secondary-highlight;
}

h3 {
  color: $home-header-color;
}

p {
  color: $home-text-color;
}

a {
  color: $body-background-color;
}

button {
  background-color: $home-header-color;
  color: $home-text-color;
}

.layout-header {
  @media (min-width: $min-width) {
    justify-content: space-around;
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  padding: .1rem;
  font-family: 'Cabin', sans-serif;
  font-size: 1.1rem;
  letter-spacing: .5;
  background-color: $layout-header-background-color;
  color: $layout-header-text-color;

  span {
    padding: 1rem;
    &:hover {
      background-color: #6f3824;
    }
    @media (min-width: $min-width) {
      &:hover {
        text-shadow: 1px 1px 1px #000000;
        background-color: inherit;
      }
    }
  }
}

.header-logo {
  @media (min-width: $min-width) {
    order: 0;
    margin-top: 0.1rem;
  }
  width: 50px;
  height: 50px;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  order: -1;
}

.company-logo {
  height: auto;
  width: 300px;
  height: auto;
}

.img-container {
  align-items: center;
}

.icon {
  height: 2em;
  color: $body-text-color;
}

.header-space {
  width: 100%;
  height: 75px;
}

.container {
  width: 100%;
  padding: 2%;
}

.intro-container {
  padding: 10%;
}

.highlight-box {
  background-color: $home-highlight-color;
  padding: 2%;
}

.secondary-highlight-box {
  padding: 2%;
  background-color: $home-secondary-highlight;
}

.alternate-link {
  color: $home-secondary-highlight;
}
